
  <section class="w3l-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-classes py-5 ">
      <div class="container py-lg-5 py-md-3">
        <h3 class="title-big text-center">Các khóa học của chúng tôi</h3>
        <p class="mt-3">Chọn ngay lớp học phù hợp với bạn</p>
      </div>
    </div>
  </section>    
  <section class="w3l-blog-block py-5" id="classes">
    <div class="container py-lg-5 py-md-4 ">
      <div class="row">
        <div class="col-lg-4 col-md-6 item mt-md-0 mt-5 py-3">
          <div class="card">
            <div class="card-header p-0 position-relative">
              <a href="dangkyhocbongro.html">
                <img class="card-img-bottom d-block" src="~/Content/images/bongro1.jpg" alt="Card image cap">
              </a>
              <ul class="location-top">
                <li class="new">Bóng rổ</li>
              </ul>
            </div>
            <div class="card-body class-details">
              <a href="dangkyhocbongro.html" class="blog-desc">Lớp học bóng rổ trẻ em
              </a>
              <p class="mt-3">3 buổi/ tuầns</p>
              </p>
              <div class="author align-items-center mt-3 mb-1">
                <div class="img-circle">
                  <img src="~/Content/images/person_1.jpg" class="mr-3 img-fluid" alt="...">
                </div>
                <div class="author-info">
                  <a href="#author">...</a> <br> <span class="meta-value">Huấn luyện viên</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 item mt-md-0 mt-5 py-3">
          <div class="card">
            <div class="card-header p-0 position-relative">
              <a href="#blog-single">
                <img class="card-img-bottom d-block" src="~/Content/images/bongda1.jpg" alt="Card image cap">
              </a>
              <ul class="location-top">
                <li class="tip">Bóng đá</li>
              </ul>
            </div>
            <div class="card-body class-details">
              <a href="#blog-single" class="blog-desc">Lớp học bóng đá trẻ em
              </a>
              <p class="mt-3">3 buổi/ tuầns</p>
              </p>
              <div class="author align-items-center mt-3 mb-1">
                <div class="img-circle">
                  <img src="~/Content/images/person_2.jpg" class="mr-3 img-fluid" alt="...">
                </div>
                <div class="author-info">
                  <a href="#author">Maxwell ker</a> <br> <span class="meta-value">Huấn luyện viên</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 item mt-lg-0 mt-5 py-3">
          <div class="card">
            <div class="card-header p-0 position-relative">
              <a href="#blog-single">
                <img class="card-img-bottom d-block" src="~/Content/images/yoga.jpg" alt="Card image cap">
              </a>
              <ul class="location-top">
                <li class="design">Yoga</li>
              </ul>
            </div>
            <div class="card-body class-details">
              <a href="#blog-single" class="blog-desc">Lớp học yoga
              </a>
              <p class="mt-3">4 buổi/ tuầns</p>
              </p>
              <div class="author align-items-center mt-3 mb-1">
                <div class="img-circle">
                  <img src="~/Content/images/a3.jpg" class="mr-3 img-fluid" alt="...">
                </div>
                <div class="author-info">
                  <a href="#author">Maxwell ker</a> <br> <span class="meta-value">Huấn luyện viên</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 item mt-lg-0 mt-5 py-3">
          <div class="card">
            <div class="card-header p-0 position-relative">
              <a href="#blog-single">
                <img class="card-img-bottom d-block" src="~/Content/images/yoga.jpg" alt="Card image cap">
              </a>
              <ul class="location-top">
                <li class="design">Yoga</li>
              </ul>
            </div>
            <div class="card-body class-details">
              <a href="#blog-single" class="blog-desc">Lớp học yoga
              </a>
              <p class="mt-3">4 buổi/ tuầns</p>
              </p>
              <div class="author align-items-center mt-3 mb-1">
                <div class="img-circle">
                  <img src="~/Content/images/a3.jpg" class="mr-3 img-fluid" alt="...">
                </div>
                <div class="author-info">
                  <a href="#author">Maxwell ker</a> <br> <span class="meta-value">Huấn luyện viên</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 item mt-md-0 mt-5 py-3">
          <div class="card">
            <div class="card-header p-0 position-relative">
              <a href="#blog-single">
                <img class="card-img-bottom d-block" src="~/Content/images/bongro1.jpg" alt="Card image cap">
              </a>
              <ul class="location-top">
                <li class="new">Bóng rổ</li>
              </ul>
            </div>
            <div class="card-body class-details">
              <a href="#blog-single" class="blog-desc">Lớp học bóng rổ trẻ em
              </a>
              <p class="mt-3">3 buổi/ tuầns</p>
              </p>
              <div class="author align-items-center mt-3 mb-1">
                <div class="img-circle">
                  <img src="~/Content/images/person_1.jpg" class="mr-3 img-fluid" alt="...">
                </div>
                <div class="author-info">
                  <a href="#author">...</a> <br> <span class="meta-value">Huấn luyện viên</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 item mt-md-0 mt-5 py-3">
          <div class="card">
            <div class="card-header p-0 position-relative">
              <a href="#blog-single">
                <img class="card-img-bottom d-block" src="~/Content/images/bongda1.jpg" alt="Card image cap">
              </a>
              <ul class="location-top">
                <li class="tip">Bóng đá</li>
              </ul>
            </div>
            <div class="card-body class-details">
              <a href="#blog-single" class="blog-desc">Lớp học bóng đá trẻ em
              </a>
              <p class="mt-3">3 buổi/ tuầns</p>
              </p>
              <div class="author align-items-center mt-3 mb-1">
                <div class="img-circle">
                  <img src="~/Content/images/person_2.jpg" class="mr-3 img-fluid" alt="...">
                </div>
                <div class="author-info">
                  <a href="#author">Maxwell ker</a> <br> <span class="meta-value">Huấn luyện viên</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- stats -->
  <section class="w3l-stats w3l-bottom-grids-6 py-5" id="stats">
    <div class="gallery-inner container py-md-5 py-4">
      <div class="row stats-con">
        <div class="col-md-3 col-6 stats_info grids-feature area-box">
          <div class="icon">
            <span class="lnr lnr-users"></span>
          </div>
          <p class="counter">1200</p>
          <h3>Khách hàng đã tham gia</h3>
        </div>
        <div class="col-md-3 col-6 stats_info grids-feature area-box">
          <div class="icon">
            <span class="lnr lnr-mustache"></span>
          </div>
          <p class="counter">30</p>
          <h3>Huấn luyện viên có kinh nghiệm</h3>
        </div>
        <div class="col-md-3 col-6 stats_info grids-feature area-box mt-md-0 mt-5">
          <div class="icon">
            <span class="lnr lnr-gift"></span>
          </div>
          <p class="counter">50</p>
          <h3>Giải thưởng</h3>
        </div>
        <div class="col-md-3 col-6 stats_info grids-feature area-box mt-md-0 mt-5">
          <div class="icon">
            <span class="lnr lnr-smile"></span>
          </div>
          <p class="counter">100</p>
          <h3>Người tham gia hàng ngày</h3>
        </div>
      </div>
    </div>
  </section>
  <!-- //stats -->



  <!-----------------footers-------------------------->
  <section class="w3l-footers-20">
    <div class="footers20">
      <div class="container">
        <div class="footers20-content">
          <div class="d-grid grid-col-4 grids-content">
            <div class="column">
              <h4>Địa chỉ</h4>
              <p class="contact-para3">828 Sư Vạn Hạnh, phường 13, quận 10, thành phố Hồ Chí Minh</p>
              <a href="contact.html">
                <p class="contact-map mt-2"><span class="lnr lnr-map-marker"></span>Vị trí</p>
              </a>
            </div>
            <div class="column">
              <h4>Thông tin liên lạc</h4>
              <a href="tel:+84-346-297-236">
                <p class="contact-phone mt-2"><span class="lnr lnr-phone-handset"></span>
                  +84-346-297-236</p>
              </a>
              <a href="mailto:ducduong260103@gmail.com">
                <p class="contact-mail mt-1"><span class="lnr lnr-envelope"></span>
                  ducduong260103@gmail.com</p>
              </a>
            </div>
            <div class="column">
              <h4>Thời gian mở</h4>
              <p>Chúng tôi hoạt động trong thời gian</p>
              <p class="mt-1"><span class="lnr lnr-clock"></span> <strong>Thứ hai - Thứ sáu</strong> : 7
                am - 9 pm</p>
              <p class="mt-1"><span class="lnr lnr-clock"></span> <strong>Thứ bảy- Chủ nhật</strong> : 10
                am - 8 pm
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top"> &#10548;
    </button>
  </section>