  <!-- main-slider -->
<section class="w3l-main-slider position-relative " id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold; ">
                                        Các
                                        khóa học cải thiện sức khỏe
                                    </h5>
                                    <a class="btn btn-style btn-primary mt-md-5 mt-4" href="classes.html">
                                        Xem
                                        ngay
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold; ">
                                        Đa
                                        dạng các loại dịch vụ!
                                    </h5>
                                    <a class="btn btn-style btn-primary mt-md-5 mt-4" href="service.html">
                                        Xem
                                        ngay
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold; ">
                                        Những
                                        sự kiện và cuộc thi hấp dẫn
                                    </h5>
                                    <a class="btn btn-style btn-primary mt-md-5 mt-4" href="event.html">
                                        Xem
                                        ngay
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
<!-- //banner-slider-->
<section class="w3l-homeblock1 py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5">
                <h3 class="title-big">Có được một cơ thể hoàn hảo </h3>
                <h5 class="mt-3">Luyện tập hằng ngày để tăng cường sức khỏe cho chính mình</h5>
                <p class="mt-4 mb-0"> xxx</p>
                <a href="classes.html" class="btn-style btn-primary btn mt-lg-5 mt-4">Bắt đầu ngay</a>
            </div>
            <div class="col-lg-6">
                <img src="~/Content/images/class.jpg" alt="" class="img-fluid radius-image" />
            </div>
        </div>
    </div>
</section>

<section class="w3l-portfolio-8 py-5" id="gallery">
    <div class="portfolio-main py-lg-5 py-md-4">
        <div class="container">
            <div class="row galler-top mt-lg-5 mt-4">
                <div class="col-md-2 col-5 protfolio-item hover14 align-self">
                    <a href="~/Content/images/g4.jpg" data-lightbox="example-set"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/Content/images/g4.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                    <a href="~/Content/images/g5.jpg" data-lightbox="example-set"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/Content/images/g5.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                    <a href="~/Content/images/g7.jpg" data-lightbox="example-set"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/Content/images/g7.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                    <a href="~/Content/images/g9.jpg" data-lightbox="example-set"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/Content/images/g9.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col-7 protfolio-item hover14">
                    <a href="~/Content/images/g8.jpg" data-lightbox="example-set" class="mb-4"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/Content/images/g8.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                    <a href="~/Content/images/g6.jpg" data-lightbox="example-set"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/Content/images/g6.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                    <a href="~/Content/images/g3.jpg" data-lightbox="example-set"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/Content/images/g3.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                </div>
                <div class="col-md-6 protfolio-item hover14 mt-md-0 mt-4">
                    <div class="px-md-4">
                        <h3 class="title-big mb-4">Chào mừng đến với trung tâm của chúng tôi</h3>
                        <p class="mb-md-5 mb-4">
                            xxx
                        </p>
                    </div>
                    <div class="row gallery-bottom">
                        <div class="col-6">
                            <a href="~/Content/images/g1.jpg" data-lightbox="example-set" class="mb-4"
                               data-title="lorem ipsum dolor sit amet">
                                <figure>
                                    <img src="~/Content/images/g1.jpg" alt="product" class="img-fluid radius-image">
                                </figure>
                            </a>
                            <a href="~/Content/images/g4.jpg" data-lightbox="example-set"
                               data-title="lorem ipsum dolor sit amet">
                                <figure>
                                    <img src="~/Content/images/g4.jpg" alt="product" class="img-fluid radius-image">
                                </figure>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="~/Content/images/g2.jpg" data-lightbox="example-set"
                               data-title="lorem ipsum dolor sit amet">
                                <figure>
                                    <img src="~/Content/images/g2.jpg" alt="product" class="img-fluid radius-image">
                                </figure>
                            </a>
                            <a href="~/Content/images/g7.jpg" data-lightbox="example-set"
                               data-title="lorem ipsum dolor sit amet">
                                <figure>
                                    <img src="~/Content/images/g7.jpg" alt="product" class="img-fluid radius-image">
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-homeblock1 py-5">
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center text-center mb-5" data-aos="fade-up">
                <div class="col-md-8  section-heading">
                    <span class="subheading">Huấn luyện viên</span>
                    <h2 class="heading mb-3">Đội ngũ huấn luyện viên của chúng tôi</h2>
                    <p>xxx</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 mb-4 mb-lg-0 col-md-6 text-center">
                    <div class="person">
                        <img src="~/Content/images/person_1.jpg" class="img-fluid">
                        <h3>Justin Daniel</h3>
                        <p class="position">Huấn luyện viên</p>
                        <p>xxx</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 mb-lg-0 col-md-6 text-center">
                    <div class="person">
                        <img src="~/Content/images/person_2.jpg" class="img-fluid">
                        <h3>Matthew Davidson</h3>
                        <p class="position">Huấn luyện viên</p>
                        <p>xxx</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 mb-lg-0 col-md-6 text-center">
                    <div class="person">
                        <img src="~/Content/images/person_3.jpg" class="img-fluid">
                        <h3>Matthew Davidson</h3>
                        <p class="position">Huấn luyện viên</p>
                        <p>xxx</p>
                    </div>
                </div>

                <div class="col-lg-3 mb-4 mb-lg-0 col-md-6 text-center">
                    <div class="person">
                        <img src="~/Content/images/person_4.jpg" class="img-fluid">
                        <h3>Matthew Davidson</h3>
                        <p class="position">Huấn luyện viên</p>
                        <p>xxx</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /bottom-grids-->
<section class="w3l-bottom-grids-6 py-5" id="why">
    <div class="container py-lg-5 py-md-4">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-3 col-sm-6 grids-feature">
                <div class="area-box">
                    <div class="icon">
                        <span class="lnr lnr-cog"></span>
                    </div>
                    <h4><a href="#feature" class="title-head">Dịch vụ chất lượng</a></h4>
                    <p>xxx</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 grids-feature mt-sm-0 mt-5">
                <div class="area-box">
                    <div class="icon">
                        <span class="lnr lnr-license"></span>
                    </div>
                    <h4><a href="#feature" class="title-head">Khu vực rộng rãi</a></h4>
                    <p>xxx</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 grids-feature mt-lg-0 mt-5">
                <div class="area-box">
                    <div class="icon">
                        <span class="lnr lnr-file-empty"></span>
                    </div>
                    <h4><a href="#feature" class="title-head">Chương trình đào tạo tốt</a></h4>
                    <p>xxx</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 grids-feature mt-lg-0 mt-5">
                <div class="area-box">
                    <div class="icon">
                        <span class="lnr lnr-users"></span>
                    </div>
                    <h4><a href="#feature" class="title-head">Nhiều lớp học</a></h4>
                    <p>xxx</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //bottom-grids-->

<section>
</section>
<section class="w3l-grid-slider" id="instaposts">
    <div class="grid-slider">
        <div class="">
            <!--  Demos -->
            <div id="demos">
                <div class="owl-carousel owl-carousel-posts owl-theme grid-col-4">
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="~/Content/images/g2.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="~/Content/images/g4.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="~/Content/images/g9.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="~/Content/images/g10.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="~/Content/images/g11.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="~/Content/images/g2.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="~/Content/images/g4.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="~/Content/images/g9.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="~/Content/images/g10.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /slider -->
</section>
<section class="w3l-portfolio-8">
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center text-center mb-5" data-aos="fade-up">
                <div class="col-md-8  section-heading">
                    <h2 class="heading mb-3">Tuyển dụng</h2>
                    <p>xxx</p>
                    <a class="btn btn-style btn-primary mt-md-2 mt-4" href="tuyendung.html">
                        Xem
                        ngay
                    </a>
                </div>
            </div>

        </div>
    </div>
    </div>
</section>