<section class="w3l-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-contact py-5">
        <div class="container py-lg-5 py-md-3">
            <h3 class="title-big text-center">Dịch vụ của chúng tôi</h3>
            <p class="mt-3">...</p>
        </div>
    </div>
</section>
<!--body-->
<section class="w3l-blog-block py-5" id="classes">
    <div class="container py-lg-5 py-md-4 ">
        <div class="row">
            <div class="col-lg-4 col-md-6 item mt-md-0 mt-5 py-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a  >
                            <img class="card-img-bottom d-block" src="~/Content/images/sanbongda1.jpg" alt="Card image cap">
                        </a>
                        <ul class="location-top">
                            <li class="new">Sân bóng đá</li>
                        </ul>
                    </div>
                    <div class="card-body class-details">
                        <a href="datsanbongda.html" class="blog-desc">
                            Sân bóng đá mini 1
                        </a>
                        <p class="mt-3">....</p>
                        </p>
                        <a href="datsanbongda.html" class="btn-style btn-primary btn mt-lg-2 mt-4">Đặt ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item mt-md-0 mt-5 py-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#blog-single">
                            <img class="card-img-bottom d-block" src="~/Content/images/sanbongda1.jpg" alt="Card image cap">
                        </a>
                        <ul class="location-top">
                            <li class="new">Sân bóng đá</li>
                        </ul>
                    </div>
                    <div class="card-body class-details">
                        <a href="#blog-single" class="blog-desc">
                            Sân bóng đá mini 1
                        </a>
                        <p class="mt-3">....</p>
                        </p>
                        <a href="#read" class="btn-style btn-primary btn mt-lg-2 mt-4">Đặt ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item mt-md-0 mt-5 py-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#blog-single">
                            <img class="card-img-bottom d-block" src="~/Content/images/sanbongda1.jpg" alt="Card image cap">
                        </a>
                        <ul class="location-top">
                            <li class="new">Sân bóng đá</li>
                        </ul>
                    </div>
                    <div class="card-body class-details">
                        <a href="#blog-single" class="blog-desc">
                            Sân bóng đá mini 1
                        </a>
                        <p class="mt-3">....</p>
                        </p>
                        <a href="#read" class="btn-style btn-primary btn mt-lg-2 mt-4">Đặt ngay</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>